.about-us {
  /* background: yellow; */
  /* padding: 0 10px 100px 10px; */
}

.about-us-text {
  text-align: justify;
  margin: 20px 0px;
}

.about-us-title {
  font-family: var(--main-title-font);
  font-size: var(--main-title-size);
  margin-bottom: 10px;
}

.about-us-subtitle {
  font-family: var(--main-subtitle-font);
  font-size: var(--main-subtitle-size);
  color: var(--main-subtitle-color);
  margin-bottom: 5px;
}

.about-us-content {
  /* margin-bottom: 100px; */
}

.about-us-content .content-column {
  display: flex;
  flex-direction: column;
}

.about-us-content .item-content {
  padding: 0px 5px 30px 5px;
}

.about-us-content .item-img {
  text-align: center;
  border: 1px dashed #000;
}

/* Desktop */
/* Tablet */
/* Mobile */
