.about-us {
  /* background: yellow; */
  padding: 0px 15px;
}

.about-us > .header {
  color: var(--main-header-color);
  margin: 70px 0px 40px 0px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bolder;
}

.about-us-text {
  text-align: justify;
  margin: 20px 0px;
}

.about-us-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.about-us-subtitle {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
}

.about-us-content {
  margin-bottom: 100px;
}

.about-us-content .content-column {
  display: flex;
  flex-direction: column;
}

.about-us-content .content-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.about-us-content .item-content {
  padding: 0px 5px 30px 5px;
}

.about-us-content .item-img {
  text-align: center;
  border: 1px dashed #000;
}

/* Desktop */
/* Tablet */
/* Mobile */
