.UnderContruction {
  text-align: center;
}

.UnderContruction-logo {
  height: 40vmin;
  pointer-events: none;
}

.UnderContruction-header {
  background-color: #e8eaea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #313131;
}

.UnderContruction-h1 {
  font-size: 37pt;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 10pt 0;
}

.UnderContruction-h2 {
  font-size: 17pt;
  font-weight: 500;
  text-transform: uppercase;
  color: #35c3c6;
  margin: 0 0 30pt 0;
}

.UnderContruction-h3 {
  font-size: 14pt;
  margin: 30pt 0;
}
