.process-step {
  margin: 50px 0px;
}

.process-step .step-number {
  font-family: var(--main-header-font);
  font-size: var(--main-header-size);
  color: var(--main-header-color);
}

.process-step .step-name {
  font-family: var(--main-title-font);
  font-size: var(--main-title-size);
  margin-bottom: 5px;
}

.process-step .step-subtitle {
  font-family: var(--main-subtitle-font);
  font-size: var(--main-subtitle-size);
  color: var(--main-subtitle-color);
  margin-bottom: 15px;
}

.process-step .step-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* margin-bottom: 10px; */
}

.process-step .step-icon {
  font-size: var(--main-title-size);
  color: var(--main-icon-color);
  margin-right: 5px;
}
