.process-step {
}

.process-step .number {
  font-family: var(--main-header-font);
  font-size: var(--main-header-size);
  color: var(--main-header-color);
}

.process-step .name {
  font-family: var(--main-title-font);
  font-size: var(--main-title-size);
  margin-bottom: 5px;
}

.process-step .subtitle {
  font-family: var(--main-subtitle-font);
  font-size: var(--main-subtitle-size);
  color: var(--main-subtitle-color);
  margin-bottom: 15px;
}
