.new-builds {
}

.new-builds .new-builds-title {
  font-family: var(--main-title-font);
  font-size: var(--main-title-size);
  margin-bottom: 10px;
}
.new-builds .new-builds-subtitle {
  font-family: var(--main-subtitle-font);
  font-size: var(--main-subtitle-size);
  color: var(--main-subtitle-color);
  margin-bottom: 20px;
}
.new-builds .new-builds-text {
}

.new-builds .new-builds-text {
}
