.slogan {
  margin: 50px 0px;
  padding: 20px;
  text-align: center;
}

.slogan .slogan-icon {
  color: var(--main-icon-color);
  font-size: var(--main-header-size);
  padding: 10px;
}

.slogan .slogan-text {
  /* background: palegreen; */
}

.slogan .slogan-author {
  font-family: var(--main-subtitle-font);
  font-size: var(--main-subtitle-size);
  color: var(--main-subtitle-color);
  margin-top: 20px;
}
