.contact-us {
  text-align: left;
}

.contact-us .button-content {
  display: flex;
  flex-direction: row-reverse;
}

.contact-us .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}
.contact-us .row .icon {
  font-size: var(--main-title-size);
  color: var(--main-icon-color);
  margin-right: 5px;
}

.contact-us .row .text {
  /* color: #777; */
}
