.request {
  background: var(--main-note-bg-color);
  margin: 50px 0px;
  padding: 20px;
}

.request .request-text {
  text-align: center;
  font-family: var(--main-subtitle-font);
  font-size: var(--main-subtitle-size);
  font-weight: bolder;
}

.request .request-button {
  /* margin: auto; */
  text-align: center;
}
