.footer {
  background: var(--main-footer-bg-color);
}

.footer-content {
  padding: 20px 0px 50px 0px;
  margin: auto;
  max-width: var(--main-content-width);
}

.footer-content .footer-link {
  text-decoration: none;
  color: var(--main-footer-link-color);
}

.footer-content .footer-header {
  font-family: var(--main-title-font);
  font-size: var(--main-title-size);
  color: var(--main-footer-text-color);
  text-transform: uppercase;
  padding: 30px 20px 20px 20px;
}

.footer-content .footer-text {
  padding: 3px 20px 0 20px;
}

.footer-content .footer-icon {
  font-size: 20px;
  padding: 0px 5px 0px 0px;
}

.footer-content .footer-row {
  padding: 3px 20px 0px 20px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
