.testimonials {
  /*  */
}

.testimonials .testimonial-item {
  border: 1px solid var(--main-menu-line-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
}

.testimonials .testimonial-icon {
  color: var(--main-icon-color);
  font-size: var(--main-header-size);
  text-align: center;
}

.testimonials .testimonial-start {
  color: var(--main-header-color);
  text-align: center;
  margin: 15px 0;
}

.testimonials .testimonial-text {
  /*  */
}

.testimonials .testimonial-author {
  font-family: var(--main-title-font);
  font-size: var(--main-title-size);
  text-transform: uppercase;
  text-align: center;
}

.testimonials .testimonial-company {
  font-family: var(--main-subtitle-font);
  font-size: var(--main-subtitle-size);
  color: var(--main-subtitle-color);
  text-transform: uppercase;
  text-align: center;
}
