.in-ex {
}

.in-ex .in-ex-text {
}

.in-ex .in-ex-title {
  font-family: var(--main-title-font);
  font-size: var(--main-title-size);
  margin-bottom: 10px;
}
.in-ex .in-ex-subtitle {
  font-family: var(--main-subtitle-font);
  font-size: var(--main-subtitle-size);
  color: var(--main-subtitle-color);
  margin-bottom: 20px;
}
.in-ex .in-ex-text {
}
